<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            font-family: Arial;
            background: #1c4a64;
            margin: 1px 210px;
        }

        h2,
        h1,
        h3,
        h4,
        h5,
        h6 {
            margin: 0;
            color: #f1f1f1;

        }

        * {
            box-sizing: border-box;
        }

        .header {
            position: relative;
        }



        .contentnhe {
            margin: 10px;

        }

        .text_content {
            margin: 0;
        }

        form.example input[type=text] {
            padding: 10px;
            font-size: 17px;
            border: 1px solid grey;
            float: left;
            width: 80%;
            background: #f1f1f1;
        }

        form.example button {
            float: left;
            width: 20%;
            padding: 10px;
            background: #2196F3;
            color: white;
            font-size: 17px;
            border: 1px solid grey;
            border-left: none;
            cursor: pointer;
        }

        form.example button:hover {
            background: #0b7dda;
        }

        form.example::after {
            content: "";
            clear: both;
            display: table;
        }

        ul {
            list-style-type: none;
            padding: 0;
            overflow: hidden;
            margin: 0px;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 10px 10px;
            text-decoration: none;
        }

        li a:hover {
            background-color: #2196F3;
        }

        .Header_content {
            margin-top: 25px;
        }

        .title_content {
            margin-top: 4px;
            margin-bottom: 4px;
        }

        .Header_content a {
            color: white;
            margin: 0px;

            text-decoration: none;
            font-size: 11px;

        }

        .nava {
            margin: 0px;

        }

        .rep {
            margin: 0px;
            padding: 0px;
        }
    </style>
</head>

<body>
    <div class="header">
        <form class="example" action="/moogle">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div class="nava">
        <ul>
            <li><a class="active" href="#home">Tất cả</a></li>
            <li><a href="/hinhanh?id=<%=key%>">Hình ảnh</a></li>
        </ul>

    </div>
    <div class="rep">
        <h6>Tìm thấy <%=data.length%> kết quả trong(0,38 giây)</h6>
    </div>
    <div class="container">
        <% for(var i=0; i<data.length; i++) { %>
            <div class="contentnhe">
                <div class="Header_content">
                    <!-- <h6>https://vnexpress.net/nguoi-tre-viet-thich-hen-ho-qua-ung-dung-4383146.html</h6> -->
                    <a class="active"
                        href=<%=data[i]._source.link_news%>><%=data[i]._source.link_news%></a>
                </div>
                <div class="title_content">
                    <h3><%=data[i]._source.title_news%></h3>
                </div>
                <div class="text_content">
                    <h6>
                        <%=data[i]._source.description%>
                    </h6>
                </div>
            </div>
            <% } %>
    </div>
 

</body>

</html>